.sidenav{
    width: 4%;
    transition: all 0.3s ease-in-out 0s;
    a {
        span {
          opacity: 0;
          transition: all 0.3s ease-in-out 0s;
        }
    }
    &:hover {
      width: 18%;
      transition: all 0.3s ease-in-out 0s;
      a {
        span {
          opacity: 1;
          transition: all 0.3s ease-in-out 0s;
        }
    }
    }
  }
  .full-width-container {
    width: 100%;
  }
  .top-header {
    height: 67px;
    border-bottom: 2px solid #f59f03;
  }
  .h-line-height {
    line-height: 67px;
  }
  .h-color {
    color: #fff;
  }
  .bold {
    font-weight: bold;
  }
  .main-content {
    height: calc(100vh-125px);
    width: -webkit-fill-available;
    overflow-y: scroll;
    .list-group-item {
      padding :.25rem 1.25rem;
    }
  }
  .logout {
    background-color: #00b4e5;
    cursor: pointer;
    padding: 15px 20px;
    color: #fff;
  }
  .logout-menu {
    top: 20px;
    left: 11px;
    border: 1px solid #00b4e5;
    padding: 10px;
    width: 4%;
    float: left;
    .dropdown-item:hover{
      background-color: #29b6e6;
    }
  }
  .top-head {
    background-color: #11b7e6; 
    height: 65px;
    width: 78%;
  }
  .img {
    width: 160px;
    height: auto;
    padding: 0 0 10px 40px;
  }
  
  .nisum-logo {
      width: 160px;
      height: 52px;
  }
  .logo-section {
    height: 62px;
    margin-bottom: 5px;
    & a {
      line-height: 67px;
    }
    width: 18%;
  }
  .logout-toggle {
    background-color: #29b6e6;
  }