nav.menu ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

nav.menu ul li {
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #0c90b5;
  min-width: 307px;
}

nav.menu ul li a {
  padding: 12px 0;
  display: flex;
  align-items: center;
  text-decoration: none;
  border-left: 2px solid transparent;
  &:hover, &.active {
    border-left: 2px solid #f59f03;
    background-color: #0c90b5;
    i {
      transform: scaleX(1.2) scaleY(1.2);
      // margin: 0 5px 0 0;
    }
  }
}


nav.menu ul li a i {
  //transition: all .5s ease-in-out 0s;
  font-size: 20px;
  line-height: 1.5rem;
  min-width: 1.25rem;
  color: #fff;
  position: relative;
  left: 0;
  margin: 0 15px;
}
nav.menu ul li a span {
  color: #fff;
}
// .logo-section {
//   height: 62px;
//   margin-bottom: 5px;
//   & a {
//     line-height: 67px;
//   }
// }
// .img {
//   margin-left: 10px;
//   width: 203px;
//   height: auto;
// }
.menu-list {
  background-color: #11b7e6;
  overflow: hidden;
}
.menu {
  height: 850px;
  background-color: #11b7e6;
}

nav.menu ul li a:hover {
  text-decoration: none;
  background-color: #0c90b5;
  // & span i {
  //   font-size: 24px;
  //   transition: all .5s ease-in-out 0s;
  //   -webkit-transition: all .5s ease-in-out 0s;
  // }
}
.hideNav{
  display: none;
}