// @import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
// @import '../node_modules/font-awesome/css/font-awesome.css';
// body {
//   margin: 0;
//   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
//     'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
//     sans-serif;
//   -webkit-font-smoothing: antialiased;
//   -moz-osx-font-smoothing: grayscale;
// }

// code {
//   font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
//     monospace;
// }


@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import url(//db.onlinewebfonts.com/c/29dc27977e417a98e56556776f41607c?family=Corbel);
@import '../node_modules/font-awesome/css/font-awesome.css';

/* @import '../node_modules/jquery/dist/jquery.js'; */
body {
  margin: 0;
  overflow: hidden;
  font-family: corbel;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

iframe {
  width: 100%;
}

