.footer {
    height: 58px;
   // background-color: rgb(143, 145, 146);
   background-color:#ddd;
    color: #202124;
    position: sticky;
    width: 100%;
    bottom: 0;
    line-height: 50px;
    text-align: center;
}
.footer-text {
    display: inline-block;
    margin-left: 10px;
}
.footer-logo {
    height: 35px;
    width: auto;
    margin: 10px 20px 0 0;
    position: fixed;
    right: 0;
}